{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>Login</title>
{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
        <div class="col-md-8">
          {% from "security/_macros.html" import render_field_with_errors, render_field %}
          {% include "security/_messages.html" %}
          <h1>Register</h1>
          <p>Account registration allows you to keep and list your datasets and annotations.
            If you already have an account, <a href="{{ url_for_security('login') }}">click here to login</a>.</p>
          <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
            {{ register_user_form.hidden_tag() }}
            {{ render_field_with_errors(register_user_form.email) }}
            {{ render_field_with_errors(register_user_form.password) }}
            {% if register_user_form.password_confirm %}
              {{ render_field_with_errors(register_user_form.password_confirm) }}
            {% endif %}
            {{ render_field(register_user_form.submit) }}
          </form>
        </div>
        {{ super() }}
    </div> <!-- /container -->
{% endblock %}

{% block tailjs %}
    {{ super() }}
    <!-- <script src="/static/js/foo.js"></script> -->
{% endblock %}
