/* Move down content because we have a fixed navbar that is 50px tall */
/*body {
  padding-bottom: 2rem;
}*/
.stoma {
    fill: rgba(255, 255, 255, 0.0);
    stroke: red;
    stroke-width: 6;
}
.stoma:hover {
    fill: rgba(255, 200, 200, 0.6);
    stroke: #FF8080;
    stroke-width: 12;
}
form {
    display: inline-block;
}
.unqueue-btn {
    cursor: pointer;
}
.jumbotron
{
    background-image: url('/static/simg/jumbobg.png');
    background-repeat: no-repeat;
    background-position: right 20px center;
}
.sizesampleimg
{
    width: 128px;
    height: 128px;
    zoom: normal;
}
.sizesamplelabel
{
    width: 140px;
}
.sizesampletext
{
    margin-top: 0.5em;
}
input[type=radio]:checked + label>img {
  border: 1px solid #007bff;
  box-shadow: 0 0 3px 3px #007bff;
  opacity: 1.0;
  filter: none; /* msie */
}
input[type=radio] + label>img {
  border: 1px dashed #808080;
  width: 128px;
  height: 128px;
  opacity: 0.7;
  filter: alpha(opacity=70); /* msie */
  transition: 100ms all;
}
input[type=radio]:checked + label>p {
  font-weight: bold;
}
input[type=radio] + label>p {
  font-weight: normal;
}
.input-hidden {
  position: absolute;
  left: -9999px;
}



@keyframes spinner-border {
  to { transform: rotate(360deg); }
}

.spinner-border {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: text-bottom;
  border: 5px solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
  width: 30;
  height: 30;
  border-width: 3;
}
.reuse-checkbox {
    position: absolute;
    margin-top: .25rem;
}
