/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-bottom: 2rem;
}
.stoma {
     fill: rgba(255, 255, 255, 0.5);
     stroke: red;
     stroke-width: 2;
}
.stoma:hover {
     fill: rgba(255, 200, 200, 0.6);
     stroke: #FF8080;
     stroke-width: 4;
}