{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>Stomata Overview - About</title>
{% endblock %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h2>About</h2>
      </div>
    </div>

    <div class="container">
	<p>Stomata Counter started as a collaboration between the University of Vermont, Brown Univeristy, and the Smithsonian Institution. During Karl's dissertation, he was face with counting stomata from several thousand images and became determined not to do it manually. At GSA in 2016, Karl and Sven met and came up with a draft version of a CNN to estiamte counts of stomata. The extensive biological collections at the National Museum of Natural History and the United States Botanic garden were instrumental in extending the training data set to species outside if <i>Populus</i>.</p>
        <p>Feel free to contact Karl at karl.fetter [at] gmail.com with questions.</p>
	<h3>How to Cite</h3>
		<p>Please cite us if you use this tool for your research. 
		<p>Fetter, K.C., Eberhardt, S., Barclay, R.S., Wing, S. and Keller, S.R., 2019. StomataCounter: a neural network for automatic stomata identification and counting. <a href=https://doi.org/10.1111/nph.15892>New Phytologist</a>, 223(3), pp.1671-1681.    
	
	<h3>Funding</h3>
		<p>Funding to create Stomata Counter was provided by an NSF grant to Dr. Stephen Keller (Award # 1461868) and a Smithsonian Institution Fellowship to Karl Fetter.
        <h3>Source Code</h3>
        	<p>The source code for StomataCounter is freely available on GitHub <a href="/source">here</a>. Setup requires a cuda8-capable GPU.</p>
        {{ super() }}
    </div> <!-- /container -->
{% endblock %}

{% block tailjs %}
    {{ super() }}
    <!-- <script src="/static/js/foo.js"></script> -->
{% endblock %}
