{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>Stomata Overview - About</title>
{% endblock %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h2>About</h2>
      </div>
    </div>

    <div class="container">
        <p>Stomata Counter was born in the minds of Karl and Sven after a chance encounter at GSA 2016 in Devner, Colorado. Karl is an evolutionary biologist who studies plants at multiple time, geographic, and genomic scales. When he's not day dreaming about fossil plants, he spends most of his time studying Poplars. Sven is a post-doc at Brown University and a whiz at the command line. </p>

        {{ super() }}
    </div> <!-- /container -->
{% endblock %}

{% block tailjs %}
    {{ super() }}
    <!-- <script src="/static/js/foo.js"></script> -->
{% endblock %}
