{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>Stomata Overview - About</title>
{% endblock %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h2>About</h2>
      </div>
    </div>

    <div class="container">
        <p>Stomata Counter was born in the minds of Karl and Sven after a chance encounter at GSA 2016 in Denver, Colorado. Karl is an evolutionary biologist who studies plants at multiple time, geographic, and genomic scales. When he's not day dreaming about fossil plants, he spends most of his time studying the population genomics and evolutionary effects of hybridization in Poplars at the University of Vermont. Sven is a post-doc at Brown University and a whiz at the command line. Feel free to contact karl on his uvm dot edu at kf email address.</p>
		<h3>Funding</h3>
			<p>Funding to create Stomata Counter was provided by an NSF grant to Dr. Stephen Keller (Award # 1461868) and a Smithsonian Institution Fellowship to Karl Fetter.
        <h3>Source Code</h3>
        <p>The source code for StomataCounter is freely available on GitHub <a href="/source">here</a>. Setup requires a cuda8-capable GPU.</p>
        {{ super() }}
    </div> <!-- /container -->
{% endblock %}

{% block tailjs %}
    {{ super() }}
    <!-- <script src="/static/js/foo.js"></script> -->
{% endblock %}
