{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>Stomata Overview - Admin</title>
{% endblock %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h2>Admin - Overview</h2>
      </div>
    </div>

    <div class="container">
        <h3>Adminstrative options</h3>
        <ul>
            <li><a href="/loading/admin/datasets">Datasets</a></li>
            <li><a href="/loading/admin/storage">Disk storage</a></li>
            <li><a href="/loading/admin/models">Models</a></li>
            <li><a href="/loading/admin/worker">Worker status</a></li>
        </ul>

        {{ super() }}
    </div> <!-- /container -->
{% endblock %}

{% block tailjs %}
    {{ super() }}
    <script src="/static/js/admin.js"></script>
{% endblock %}
