{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>Stomata annotation for {{ filename }}</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ filename }}</h1>

        <div class="row">
            <div class="col-md-6">
                <p class="lead">{{ info_string }}</p>
            </div>
            <div class="col-md-3">
                <form id="save_annotations_form" action="/save_annotations/{{ id }}" method=post>
                    <input type="hidden" id="form_annotations" name="annotations" value="">
                    <input type="hidden" id="form_margin" name="margin" value="0">
                    <input type="submit" value="Save">
                </form>
                <form action="/info/{{ id }}" method=get>
                    <input type="submit" value="Cancel">
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div id="annotation_div" style="height:{{ height }}px; width:{{ width }}px; box-shadow: inset {{ margin }}px {{ margin }}px 0px rgba(0,0,0,0.5), inset -{{ margin }}px -{{ margin }}px 0px rgba(0,0,0,0.5);">
                    <img src="/static/images/{{ image_filename }}"  style="height:{{ height }}px; width:{{ width }}px; position: absolute; z-index:-2;" />
                    <svg id="annotation_svg" style="height:{{ height }}px; width:{{ width }}px; position: absolute;"/>
                </div>
            </div>
        </div>

      {{ super() }}
    </div> <!-- /container -->
{% endblock %}

{% block tailjs %}
    {{ super() }}
    <script>var height = {{ height }}, width = {{ width }}, saved_annotations = {{ annotations|tojson|safe }};</script>
    <script src="/static/js/annotate.js"></script>
{% endblock %}
