<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">

            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

            <!-- Bootstrap -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

            <!-- Custom CSS -->
            <link href="static/css/base.css" rel="stylesheet">

            <!-- Improved cross-browser rendering -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.css" rel="stylesheet">

        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-static-top navbar-dark bg-inverse">
          <a class="navbar-brand" href="#">Stomata Counter</a>
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </nav>
        {% if error %}
            <div class="alert alert-danger">
                <strong>Error: </strong> {{ error }}
            </div>
        {% endif %}

        {% block content %}
            <hr>
            <footer>
                <p>by <a href="mailto:sven2@brown.edu">sven2</a></p>
            </footer>
        {% endblock %}

        <!-- TO DO: footer block -->

        {% block tailjs %}
            <script src="static/js/base.js"></script>
        {% endblock %}
    </body>
</html>
