{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>Stomata Overview</title>
{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Stomata Counter</h1>
        <p>Experimental web frontend for automatic stomata detection. Running on my local machine; do not distribute.</p>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
            <h2>Datasets</h2>
            <ul>
            {% for item in datasets %}
                <li><a href="/dataset/{{ item._id }}">{{ item.name }}</a></li>
            {% endfor %}
            </ul>
            <form id="add_dataset_form" action="/add_dataset" method="post"><input type="hidden" name="dataset_name" value=""></form>
            <a href="javascript:addDataset()">Add dataset...</a>
       </div>
        <div class="col-md-4">
            <h2>Enqueued</h2>
            <ul>
            {% for item in enqueued %}
                <li><a href="/info/{{ item._id }}">{{ item.filename }}</a></li>
            {% endfor %}
            </ul>
            <p>Queue status: <emph>{{ status }}</emph></p>
          <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
       </div>
      </div>

        {{ super() }}
    </div> <!-- /container -->
{% endblock %}

{% block tailjs %}
    {{ super() }}
    <!-- <script src="/static/js/foo.js"></script> -->
{% endblock %}
