{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>Stomata Overview</title>
{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Stomata Counter</h1>
        <p>A tool to automatically estimate stomatal density from epidermal micrographs. Experimental web frontend. Running on my local machine; do not distribute.</p>
      </div>
    </div>
    <div class="container">
    	<div class="col-md-4">
    		<h2>Read this BEFORE collecting data</h2>
    			<p>here is where I give people the rules of the road</p>
		</div>
    </div>
    <div class="container">
        <div class="col-md-4">
            <h2>Upload</h2>
            <form action="/dataset/new" method=post enctype=multipart/form-data>
                <p>Select a file to upload. Either .png, .jpg, .jpeg for images, or .zip files containing images. Size between 256x256 and 4096x4096.</p>
                <p><input type=file name=file><input type=submit value=Upload></p>
            </form>
        </div>
        {{ super() }}
    </div> <!-- /container -->
{% endblock %}

{% block tailjs %}
    {{ super() }}
    <!-- <script src="/static/js/foo.js"></script> -->
{% endblock %}
