{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>Stomata info for {{ filename }}</title>
    {% if refresh %}
        <meta http-equiv="refresh" content="5">
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ name }}</h1>
        <p>&lt;&lt; Back to <a href="/dataset/{{ dataset_id }}">Image list</a></p>

        <div class="row">
            <div class="col-md-6">
                <p class="lead">{{ info_string }}</p>
                <p>Click the annotate button to manually count stomata.</p>
            </div>
            <div class="col-md-6">
                <form action="/annotate/{{ id }}" method=post>
                    <input type=submit value="Annotate">
                </form>
                <form action="/delete/{{ id }}" method=post>
                    <input type=submit value="Delete">
                </form>
            </div>
        </div>

        <h3>Annotations</h3>
        {% for annotation in annotations %}
            <p><strong>{{ annotation.title }}:</strong> {{ annotation.info_string }}</p>
            {% if annotation.image_filename %}
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <p><img src="/static/images/{{ annotation.image_filename }}"  style="width: 600px;" /></p>
                        </p><a href="/static/images/{{ annotation.image_filename }}">Full size image</a></p>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            {% endif %}
        {% endfor %}

      {{ super() }}
    </div> <!-- /container -->
{% endblock %}

{% block tailjs %}
    {{ super() }}
    <!-- <script src="/static/js/foo.js"></script> -->
{% endblock %}
