{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>Stomata Counter - Upload</title>
{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="container">
       <div class="col-xs-12" style="height:50px;"></div>
        <div class="col-md-8 border border-primary bg-light">
            <form action="/dataset/new" method=post enctype=multipart/form-data id="upload_image_form">
                <h2>1. Configure</h2>
                <p>Click the size button that corresponds most closely to the <strong>size of the stomata</strong> when your image is viewed at 100% zoom.</p>
                <div class="form-group">
                    <div class="col-sm-8 text-center">
                        <input type="radio" name="size" id="sizeDefault" value="default" class="input-hidden" checked>
                            <label class="radio-inline sizesamplelabel" for="sizeDefault">
                                <img src="/static/simg/size_default.jpg" class="sizesampleimg" alt="Default stomata size (100px to 200px)" />
                                <p class="text-center sizesampletext">Default<br />(100px&nbsp;to&nbsp;200px)</p>
                            </label>
                        </input>
                        <input type="radio" name="size" id="sizeSmall" value="small" class="input-hidden">
                            <label class="radio-inline sizesamplelabel" for="sizeSmall">
                                <img src="/static/simg/size_small.jpg" class="sizesampleimg" alt="Small (50px&nbsp;to&nbsp;100px)" />
                                <p class="text-center sizesampletext">Small<br />(50px&nbsp;to&nbsp;100px)</p>
                            </label>
                        </input>
                        <input type="radio" name="size" id="sizeTiny" value="tiny" class="input-hidden">
                            <label class="radio-inline sizesamplelabel" for="sizeTiny">
                                <img src="/static/simg/size_tiny.jpg" class="sizesampleimg" alt="Tiny (25px&nbsp;to&nbsp;50px)" />
                                <p class="text-center sizesampletext">Tiny<br />(25px&nbsp;to&nbsp;50px)</p>
                            </label>
                        </input>
                    </div>
                    <h3>Detection threshold</h3>
                    <p>Threshold probability: <input type="number" min="0.5" max="1.0" step="0.01" name="threshold" value="{{ threshold_prob }}"/>
                        (leave to default of {{ threshold_prob_short }} if you don't know which value to set).
                    </p>
                    <h3>Contribution</h3>
                    <div class="form-check">
                        <p>
                            <input type="checkbox" class="reuse-checkbox" id="reuseCheck" name="reuseCheck" />
                            <label class="form-check-label" for="reuseCheck">
                                Help us improve performance by allowing these images to be used for fine-tuning the StomataCounter model.
                                See <a href="/about">About page</a> for details.
                            </label>
                        </p>
                    </div>
                </div>
                <div class="form-group">

                </div>
                <div>
                    <h2>2. Upload file (zip or image)</h2>
                    <p>Select a file to upload. Either .png, .jpg, .jpeg for images, or .zip files containing images. For normal stomata size, the minimum image size is 256x256 and the maximum is 4096x4096. Images between 1000x1000 and 2000x2000 work the best. For stomata size setting "small", the maximum image size is 2048x208. For "tiny", it's 1024x1024.</p>
                    <p><input type=file name=file id="upload_image" class="btn btn-primary btn-lg btn-block"></p>
                </div>
            </form>
        </div>
       <div class="col-xs-12" style="height:50px;"></div>
    </div> <!-- /container -->
    	<div class="col-md-8">
        <h3>Instructions for using this site</h3>
            <p>The simplest way to use StomataCounter is to upload a jpeg using the upload button below, refresh your browser on the Dataset page after a few moments, then export the results using the Dataset operations pulldown menu.</p>
            <p>Most users will have several hundred images to measure and uploading zip files of jpegs is more convencient. You can add more zipfiles or individual images to a dataset by navigating to that dataset's page and following the instructions to add more images. Once StomataCounter has finished detecting and counting stomata, you should view the results of all or a set of images to determine how well the method performed. Click on an image to view the result. You should annotate 50 or 100 images (or whatever number you're comfortable with) and view the correlation of human to automatic stomata counts. This is done by clicking on the Dataset operations drop down menu and selecting "Export correlation graph".</p>
            <p>Stomata annotations are added to an image by clicking on image in a dataset and clicking the annotate button. There are two annotation modes. Enter the basic annotation mode by clicking "Annotate" in the list of actions. In this mode, you'll have to add an annotation for each stomata by clicking once to add, and twice to remove. We provided a faster method of annotating using the "Annotate from automatic" annotation mode. In this mode, StomataCounter's best quess of where a stoma is located is provided as an annotation. You then choose to accept, reject, or modify annotations. The automatic annotation mode is a great time saver and you'll only spend a few seconds annotating each image.</p>
            <p>When you are ready to download and analyze your output data, click on the "Export results as csv" in the Dataset operations drop down menu. Along with the results visible in the dataset table, each image is scored for nine image quality scores. These quality scores are very informative and can be helpful for you to filter results from low quality images. You should read more about these quality scores from PyImq in their original <a href="http://dx.doi.org/10.1038/srep28962">publication.</a></p>

 		<h3>Guidelines for optimizing your results</h3>
			<p>StomataCounter was designed to minimize user interface with the analytical components of the method. Your control over the performance is largely determined by your choice of input images. Users should design a pilot experiment before generating a large collection of images to determine which microscopy technique and/or tissue preperation techniques will minimize count error. We recommend that users take the following actions:
                <ul>
                    <li>Collect sample images using different microscopy methods from the same tissues.</li>
                    <li>Run images through StomataCounter.</li>
                    <li>Establish a 'true' stomata count using the annotation feature.</li>
                    <li>Regress image quality scores (automatically provided in output csv file) against log(precision).</li>
                    <li>Regress human versus automatic counts.</li>
                    <li>Choose the method that minimzes error and then image your reamining samples.</li>
                </ul>
                <p>If a large collection of images is already available and re-imaging is not feasible, we recommend the users take the following actions:</p>
            <ul>
                <li>Randomly sample 100 images. (If you're not sure how to randomly sample images, use the code below).</li>
                <li>Upload the images to StomataCounter.</li>
                <li>Annotate images to establish the 'true' count.</li>
                <li>Explore image quality scores with against the log(precision) to determine a justifiable cut-off value for filtering images.</li>
                <li>Discard images below the image quality cut-off value.</li>
            </ul>
            <p>If you do not wish to throw out images, please contact us and we will retrain the model and incorporate your 100 annotated images.</p>
            <p>We have found that micrographs genereated from SEM, phase contrast, and DIC have enough contrast for the method to detect stomata. Brightfield images usually don't have enough contrast.</p>
            <p>Here is some code that is useful for 1) randomly sampling images in a directory, and 2) evenly dividing images into zipfiles for upload. This code works in a linux environment. Insert your paths and file names where appropriate.</p>
            <p>1) Randomly select 100 images in a directory</p>
            <figure>
                <figcaption>Navigate to the directory where the images are kept.</figcaption>
                <pre>
                    <code>
                    cd /path/to/images
                    </code>
                </pre>
            </figure>
            <figure>
                <figcaption>Genereate a list of all of the images (assuming they are jpegs).</figcaption>
                <pre>
                    <code>
                    ls *.jpg > images_to_choose
                    </code>
                </pre>
            </figure>
            <figure>
                <figcaption>Randomly sample 100 images.</figcaption>
                <pre>
                    <code>
                    shuf -n 100 images_to_choose &gt; sample
                    </code>
                </pre>
            </figure>
            <figure>
                <figcaption>Send those images to a zip file.</figcaption>
                <pre>
                    <code>
                    zip -@ &lt; sample 100_image_sample.zip
                    </code>
                </pre>
            </figure>
            <figure>
                <figcaption>You might want to move the files you’ll zip to another directory, so you don’t measure them twice (or not).</figcaption>
                <pre>
                    <code>
                    mkdir measured_images
                    xargs mv -t measured_images/ &lt; sample
                    </code>
                </pre>
            </figure>
                <p>Now, upload those images to StomataCounter and annotate them!</p>
            <p>2) Divide a large set of images into smaller zipfiles for uploading.</p>
            <figure>
                <figcaption>Generate a list of images to zip.</figcaption>
                <pre>
                    <code>
                    ls *.jpg > image_list
                    </code>
                </pre>
            </figure>
            <figure>
                <figcaption>Split the larger list into smaller lists by size N. The output are files named xaa, xab, ...</figcaption>
                <pre>
                    <code>
                    split -l N image_list
                    </code>
                </pre>
            </figure>
             <figure>
                <figcaption>Archive the files in your lists. This can be put in a bash script with a loop.</figcaption>
                <pre>
                    <code>
                    zip archive_1 -@ &lt; xaa    
                    </code>
                </pre>
            </figure>
                 
            <p>Other useful code.</p>
            <figure>
                <figcaption>Obtain the dimensions of an image</figcaption>
                <pre>
                    <code>
                    identify image.jpg
                    </code>
                </pre>    
            </figure>
            
        <h3>Troubleshooting</h3>
            <p>If StomataCounter is not performing well, or it is not uploading your zipfile, try taking these steps:</p>
                <ul>
                    <li>Resize your images between 1000 and 2000 pixels.</li>
                    <li>Upload smaller zipfiles, the largest zipfile the uploader can handle is around 100MB.</li>
                    <li>Use different filters on your micrscope to increase contrast.</li>
                    <li>Reduce noise in your micrographs. The goal is to upload images where even an infant botanist could pick out a stoma!</li>
                    <li>View examples in the examples tab to get an idea for what works.</li>
                </ul>
    <h2>Output</h2>
            <p>The output file contains information about the sample and data set names, manual stomata counts (if annotations are made by the user), automatic counts from StomataCounter, and image quality scores.</p>
        <h3>Image quality</h3>
            <p>As one may predict, image quality has a large influence on detection results. Users are encouraged to try several imaging techniques to discover which microscopy or tissue preparation method works best for their material. We have found that z-stacked DIC micrographs perform the best for nail polish peels.</p>
            <p>Image quality scores from <a href="https://bitbucket.org/sakoho81/pyimagequalityranking/wiki/CLI">PyImq</a> are provided in the output file for users to filter their own images with. Image quality scores are provided without standardization, and users should standardize values between zero and one to match Fetter et al. (2019) and Koho et al. (2016). PyImq scores include:</p>
                <ul>
                    <li><strong>tEntropy</strong>: Shannon's spatial domain entropy. High values indicate high contrast/noisy images.</li>
                    <li><strong>fMean</strong>: average value of the tail of the power-frequency distribution amplitude. Low values indicate a blurry image.</li>
                    <li><strong>fSTD</strong>: standard deviation of power-frequency distribution tail. Low values indicate a blurry image. </li>
                    <li><strong>fEntropy</strong>: entropy of the tail of the power-frequency distribution</li>
                    <li><strong>fPower</strong>: the highest frequency power accumulation</li>
                    <li><strong>fSkewness</strong>: power-frequency distribution skewness</li>
                    <li><strong>fKurtosis</strong>: power-frequency distribution kurtosis</li>
                </ul>
            <p>See <a href="https://www.nature.com/articles/srep28962">Koho et al. (2016)</a> for complete descriptions of the image quality scores.</p>
		</div>
    </div>
    <div class="container">
        {{ super() }}
    </div>
{% endblock %}

{% block tailjs %}
    {{ super() }}
    <!-- <script src="/static/js/foo.js"></script> -->
{% endblock %}
